body {
	background: #000;
	font-family: Arial, Helvetica, sans-serif;
}

/*
 * Main content
 */
.main {
	width: 960px;
	margin: auto;
}
.main h2 {
	color: #bbb;
}
.main a {
	color: #eee;
	text-decoration: none;
}
.main a:hover {
	text-decoration: underline;
}
.main a:visited {
	color: #ccc;
	text-decoration: underline;
}

/*
 * Path
 */
.path {
	padding-left: 30px;
	color: #777;
	font-weight: normal;
	letter-spacing: 1px;
}
.path a {
	color: #aaa;
}
.path a:last-of-type {
	color: #fff;
}
.path a:hover {
	color: #fff;
	text-decoration: none;
}

/*
 * Galleries list
 */
.gallery_list {
	color: #333;
	border: 2px solid #444;
	padding: 15px;
	margin-top: 20px;
}
.gallery_list h3 {
	margin: 0 0 10px 0;
	color: #bbb;
}
.gallery_list .thumb {
	height: 150px;
	width: 150px;
	margin: 17px;
	float: left;
	position: relative;
	/* trick to center the thumb */
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover; /* CSS3 to the rescue, fill the square */
}
.gallery_list .thumb .text {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 3px 0;
	background: rgba(0, 0, 0, 0.6);
	text-align: center;
}

/*
 * Footer
 */
.footer {
	margin: 15px 0;
	font-size: 0.9em;
	text-align: center;
	color: #333;
}
.footer span.white {
    color: #777;
}
.footer p.grey {
    color: #555;
}
.footer p.darkgrey {
    color: #333;
}
.footer p.darkgrey a {
    color: #444;
}
.footer a {
	color: inherit;
}
